@import "theme/theme_variables";  // <-------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here
@import "assets/bootstrap4";      // <-------- Loads Bootstrap4
@import "understrap/understrap";  // <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "understrap/woocommerce"; // <-------- Loads WooCommerce style fixes. Comment out if you aren't using WooCommerce

// Optional files - If you dont use the corresponding scripts/fonts comment em out
@import "assets/font-awesome";    // <-------- Font Awesome Icon font
@import "assets/underscores";     // <-------- Underscores media styles
@import "assets/slick";			//<------- SLick Slider
//@import "assets/leaflet";			//<------- Leaflet Map
//@import "../src/sass/leaflet/leaflet.css";

// Any additional imported files //
@import "theme/theme";            // <-------- That's where you can add your own design. Thats your part!
@import "theme/contact-form7";    // <-------- Contact Form 7 - Bootstrap 4 support

html {
	scroll-behavior: smooth;
}
h1 {
	font-family: "banny", sans-serif;
	font-size: 96px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
	//box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 60px;
		height: 5px;
		border-radius: 50px;
		background: $colorYellow;
	}
}
h2{
	font-family: BannyB;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: $primary;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 60px;
		height: 5px;
		border-radius: 50px;
		background: $colorYellow;
	}
}
h5 {
	font-family: $fontPrimary;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: $colorWhite;
}
p{
	font-family: $fontPrimary;
	font-size: 14px;
	line-height: 24px;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	strong{
		font-size: 18px;
		line-height: 28px;
		font-style: normal;
		font-weight: bold;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	}
}

.site{
	position: relative;
}
.wrapper{
	padding: 0;
}
.hp-header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	ul.navbar-nav{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		li{
		}
	}

	.navbar{
		z-index: 100;
		.nav-link{
			color: #fff;
			font-family: "Open Sans", sans-serif;
			font-size: 12px;
			font-weight: bold;
			line-height: 12px;
			padding: 30px 0;
			text-transform: uppercase;
		}
		.navbar-brand{
			max-width: 150px;
			width: 100%;
			padding: 0;
			margin: 0;
			margin-bottom: -7%;
			&:hover{
				-webkit-animation: rotation 4s infinite linear;
				@-webkit-keyframes rotation {
					from {
						-webkit-transform: rotate(0deg);
					}
					to {
						-webkit-transform: rotate(359deg);
					}
				}
			}
		}

		@media screen and (min-width: 768px){
			.navbar-collapse.mobile-menu{
				display: none!important;
			}
		}

		@media screen and (max-width:768px){
			.left-menu,
			.right-menu{
				display: none;
			}
		}
	}

}
/*HEAD*/
.hp-head{
	height: 100vh;
	color: $colorWhite;
	.head-block{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100vh;
		position: relative;
		.hp-time-work{
			transform: rotate(-90deg);
			/*transform-origin: 110px 80ox;*/
			position: relative;
			transform-origin: 90px 90px;
			p{
				margin: 0;
				position: absolute;
				height: 25px;
				width: 350px;
				font-family: $fontPrimary;
				font-size: 12px;
				font-weight: bold;
			}
		}
		.hp-head-title {
			text-align: center;


			.head-button {
				display: block;
				a {
					font-family: $fontPrimary;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					text-transform: uppercase;
					line-height: 20px;
					padding: 20px 0px;
					width: 200px;
					height: 60px;
					display: inline-block;
					border: 1px solid rgba(255, 255, 255, 0.2);
					color: $colorWhite;
					border-radius: 5px;
					margin: 0 20px;
					&:hover {
						background: $colorYellow;
						border: 1px solid $colorYellow;
						color: $colorWhite;
						text-decoration: none;
					}
				}
			}
		}
		.hp-socials{
			width: 60px;
			height: 220px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.social-item{
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 20px;
				line-height: 23px;
				border-radius: 50%;
				border: 1px solid rgba(255, 255, 255, 0.2);
				color: $colorWhite;
				&:hover{
					background: $colorYellow;
					border: 1px solid $colorYellow;
					color: $colorWhite;
					text-decoration: none;
					i{
						color: $colorWhite;
					}
				}
			}
		}
		.arrow-down{
			position: absolute;
			bottom: 10%;
			left: 50%;
			width: 60px;
			height: 60px;
			transform: translate(-50%, -20%);
			display: block;
			a{
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				color: transparent;
				background: $colorWhite;
				&:hover{
					background: $colorYellow;
					border: 1px solid $colorYellow;
					color: $colorWhite;
					text-decoration: none;
					i{
						color: $colorWhite;
					}
				}
				i{
					color: #000;
					font-size: 20px;
					line-height: 23px;
				}
			}
		}

	}
}
/*End HEAD*/
.img-block{
	position: relative;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}
.hp-square-right{
	position: absolute;
	width: 250px;
	height: 250px;
	border: 20px solid #E8C300;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	z-index: 10;
	right: 0;
	top: 50%;
	transform: translate(-10%, -50%);
}
.hp-square-left{
	position: absolute;
	width: 250px;
	height: 250px;
	border: 20px solid #E8C300;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	z-index: 10;
	left: 0;
	top: 50%;
	transform: translate(10%, -50%);
}

/*ABOUT*/
.hp-about{
	padding: 100px 0;
}
/*End ABOUT*/

/*TEAM*/
.hp-team{
	padding: 50px 0 100px;
	h5{
		margin-bottom: 30px;
	}
	img{
		float: right;
	}

	h2, p {
		color: $colorWhite;
	}
}
/*End TEAM*/
.cforms select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/*Booking*/
.hp-booking{
	background: $colorWhite;
	padding: 100px 0 40px;
	.form-control,
	.wpcf7 .wpcf7-validation-errors,
	.wpcf7 input[type=color],
	.wpcf7 input[type=date],
	.wpcf7 input[type=datetime-local],
	.wpcf7 input[type=datetime],
	.wpcf7 input[type=email],
	.wpcf7 input[type=file],
	.wpcf7 input[type=month],
	.wpcf7 input[type=number],
	.wpcf7 input[type=range],
	.wpcf7 input[type=search],
	.wpcf7 input[type=submit],
	.wpcf7 input[type=tel],
	.wpcf7 input[type=text],
	.wpcf7 input[type=time],
	.wpcf7 input[type=url],
	.wpcf7 input[type=week],
	.wpcf7 textarea{
		background: $colorBG;
		color: $primary;
		font-size: 14px;
		line-height: 19px;
		text-indent: 20px;
		padding: 15px 0;
		height: auto;
		&::placeholder{
			color: #80333333;
			font-size: 14px;
			line-height: 19px;
			text-indent: 15px;
		}
	}
	.hp-select{
		position:relative;
		&:after{
			content:"\f078";
			font-family: "FontAwesome";
			font-size: 11px;
			color:#aaa;
			right: 3%;
			top: 50%;
			transform: translateY(-50%);
			padding:0 0 2px;
			position:absolute;
			pointer-events:none;
		}
		&:before{
			content:'';
			right:4px;
			top:0px;
			width:23px;
			height:18px;
			background:#fff;
			position:absolute;
			pointer-events:none;
			display:block;
		}
	}
	.wpcf7 select{
		padding:15px 0;
		height: auto;
		background: $colorBG;
		color: $primary;
		display: inline-block;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		cursor:pointer;
		option{
			&:first-child{
				color: #80333333!important;
			}
			color: $primary;
		}


	}
	.wpcf7 input[type=submit]{
		font-family: $fontPrimary;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 20px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		color: #80333333;
		border-radius: 5px;
		padding: 15px 0;
		height: auto;
		&:hover {
			background: $colorYellow;
			border: 1px solid $colorYellow;
			color: $colorWhite;
			text-decoration: none;
		}
	}
	p{
		font-size: 12px;
		line-height: 12px;
		color: rgba(51, 51, 51, 0.5);
		text-shadow: none;
		strong{
			font-size: 12px;
			line-height: 12px;
			text-shadow: none;
		}
		margin-top: 50px;
	}
}
/*End Booking*/

/*Specialties*/
.hp-specialties{
	padding: 50px 0 100px 0;
	color: $colorWhite;
	h5{
		margin-bottom: 40px;
	}
	h2{
		color: $colorWhite;
	}
	.image-block{
		float: right;
	}
	/*slider*/
	#hp-specialties-slide{
		width: 100%;
		.slick-slide {
			height: auto;/*define the height of slide*/
			img{
				/*   max-width: 500px;
				max-height: 400px;
				position: absolute;
				top: 45%;
							 left: 20%;
							 left: 30%;
				transform: translate(-50%,-50%); */
				z-index: 100;
				border-radius: 5px;
			}

		}
		button.slick-prev,
		button.slick-next{
			&:before{
				color:#000;
			}
		}
		.slick-dots{
			bottom: -80px;
			li{
				button{
					&:before{
						content: "";
						width: 10px;
						height: 10px;
						background: #fff;
						color: #fff;
						border: 3px solid $colorWhite;
						border-radius: 50%;
					}
				}
				&.slick-active{
					button{
						&:before{
							content: "";
							width: 10px;
							height: 10px;
							background: $colorWhite;
							color: $colorWhite;
						}
					}
				}
			}
		}
		.slider-caption{
			width: 100%;
			text-align: justify;
			/*   position: absolute;
					top: 45%;
					left: 60%;
					left: 70%;
			width: 100%;
			max-width: 550px;
			text-align: center;
					 background: rgba(0, 0, 0, .6);
			transform :translate(-50%, -50%);
			padding: 5px 10px; */
		}
	}
	/*ENd slider*/
}
/*End Specialties*/


/*Menu*/
.hp-menu{
	padding: 100px 0;
	p{
		max-width: 565px;
		width: 100%;
		margin: auto;
	}
	.nav-tabs{
		display: flex;
		align-items: stretch; /* Default */
		justify-content: center;
		width: 100%;
		border: none;
		margin-bottom: 50px;
		.tab-items{
			display: block;
			flex: 0 1 auto; /* Default */
			list-style-type: none;
			padding: 0 20px;
			border: none;
			border-right: 1px solid #dee2e6;
			&:last-child{
				border: none;
			}
		}
		.nav-link{
			border: none;
			&:focus,
			&:hover{
				color: $colorYellow;
			}
			&.active{
				border: none;
				color: $colorYellow;
			}
		}
	}
	.tab-content{
		display: block;
		margin: auto;
		.menu-item{
			margin-bottom: 30px;
			h4{
				font-family: $fontBannyB;
				font-weight: bold;
				font-size: 18px;
				line-height: 18px;
				margin: 0;
				text-shadow: 0 4px 4px rgba(0,0,0,.25);
				text-transform: uppercase;
			}
			.hp-menu-description{
				font-weight: 400;
				font-size: 12px;
				line-height: 12px;
				color: grey;
			}
		}
	}
}
/*End Menu*/

/*Events*/
.hp-events{
	padding: 50px 0 50px;
	h5{
		margin-bottom: 50px;
	}
	.hp-events-info{
		color: rgba(255, 255, 255, 0.5);
		margin-top: 50px;
	}
	.hp-event-item{
		.item{
			text-align: center;
			position: relative;
			img{
				width: 100%;
			}
			.item-link{
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 100;
				width: 100%;
				height: 100%;
				transform: rotate(90deg);
				.event-link{
					color: $colorWhite;
					width: 100%;
					height: auto;
					padding: 20px;
					display: block;
					text-align: left;
					background: $primary;
					font-family: $fontBannyB;
					font-size: 24px;
					text-indent: 20px;
					text-transform: uppercase;
					&:hover{
						text-decoration: none;
						color: $colorYellow;
					}
				}
			}
		}
		&:nth-child(2n+1){
			.item-link{
				transform: rotate(-90deg);
				.event-link{
					color: $colorWhite;
					width: 100%;
					height: auto;
					padding: 20px;
					display: block;
					text-align: left;
				}
			}
		}
	}
}
/*End Events*/

/*Contact*/
.hp-contact{
	padding: 100px 0;
	.hp-description{
		max-width: 550px;
		width: 100%;
		margin: 0 auto 50px auto;
	}
	.wpcf7{
		max-width: 100%;
		font-size: 14px;
		input[type=submit]{
			font-family: $fontPrimary;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			line-height: 20px;
			border: 1px solid #ced4da;
			color: $primary;
			border-radius: 5px;
			padding: 15px 0;
			height: auto;
			&:hover {
				background: $colorYellow;
				border: 1px solid $colorYellow;
				color: $colorWhite;
				text-decoration: none;
			}
		}
		.form-control,
		.wpcf7-validation-errors,
		input[type=color],
		input[type=date],
		input[type=datetime-local],
		input[type=datetime],
		input[type=email],
		input[type=file],
		input[type=month],
		input[type=number],
		input[type=range],
		input[type=search],
		input[type=submit],
		input[type=tel],
		input[type=text],
		input[type=time],
		input[type=url],
		input[type=week],
		textarea{
			background: $colorBG;
			color: $primary;
			font-size: 14px;
			line-height: 19px;
			text-indent: 20px;
			padding: 15px 0;
			height: auto;
			&::placeholder{
				color: #80333333;
				font-size: 14px;
				line-height: 19px;
				text-indent: 20px;
			}
		}
	}
	.hp-contact-info{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 100%;
	}
	div.wpcf7 .ajax-loader{
		position: absolute;
		top: 100%;
		left: 1%;
	}
	p{
		&.item{
			margin: 0;
			line-height: 15px;
			text-shadow: none;
		}
		i{
			color: $colorYellow;
		}
	}

}
.site-footer{
	background: #000;
	p{
		font-size: 12px;
		line-height: 12px;
		font-family: $fontPrimary;
		color: rgba(255, 255, 255, 0.5);
		margin: 0;
		padding: 20px 0;
	}
}

#mapid{
	height: 575px;
	border: 1px solid #000;
}

/*Slick*/
#hp-gallery-slide {
	width: 100%;
	.slick-slide {
		max-height: 360px; /*define the height of slide*/
		height: 100%;

		img {
			z-index: 100;
			height: 360px; /*define the height of slide*/

		}
	}
}

.gallery-item{
	width: 100%;
	max-height: 350px;
	height: 100%;
}
.hp-contact{

}
/*END slick*/
