// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

@font-face {
	font-family: 'banny';
	src: url('../fonts/banny-round-webfont.eot');
	src: url('../fonts/banny-round-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/banny-round-webfont.woff2') format('woff2'),
	url('../fonts/banny-round-webfont.woff') format('woff'),
	url('../fonts/banny-round-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'bannyB';
	src: url('../fonts/banny-boldround-webfont.eot');
	src: url('../fonts/banny-boldround-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/banny-boldround-webfont.woff2') format('woff2'),
	url('../fonts/banny-boldround-webfont.woff') format('woff'),
	url('../fonts/banny-boldround-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'bannyL';
	src: url('../fonts/banny-lightround.eot');
	src: url('../fonts/banny-lightround.eot?#iefix') format('embedded-opentype'),
	url('../fonts/banny-lightround.woff2') format('woff2'),
	url('../fonts/banny-lightround.woff') format('woff'),
	url('../fonts/banny-lightround.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
$primary: #000; // Thats a sample how you could change a BootStrap variable.

$colorWhite: #fff;
$colorYellow: #E8C300;
$colorBG: #E5E5E5;

$fontPrimary: "Open sans", sans-serif;
$fontBanny: "banny", sans-serif;
$fontBannyB: "bannyB", sans-serif;
$fontBannyL: "bannyL", sans-serif;
